/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 55em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.btn-secondary {
  color: #fff;
}
.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
  color: #333;
  text-shadow: none;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .nav{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  p.lead {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
  }

  .h-100 {
    height: 1%!important;
  }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px){
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .nav{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  p.lead {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
  }

  .h-100 {
    height: 1%!important;
  }
}

.mb-0 {
  margin-bottom: 10px!important;
}

#ods {
  margin-top: 0.2em;
}

.lead {
  text-align: justify!important;
}

.lead-mais {
  text-align: center!important;
}
